name: Publish to npm

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Build library
        run: npm run build:lib

      - name: Extract version without v
        id: version_extract
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      - name: Extract Changelog Section
        id: extract_changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.version_extract.outputs.VERSION }}
          path: ./CHANGELOG.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.extract_changelog.outputs.changes }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false

      - name: Publish to npm
        run: npm publish ./dist/angular-tiptap-editor --access public
